{% extends "learning/base.html" %}

{% block body_block %}            
<form class="form-signup" action="/sign_up/" method="post">{% csrf_token %}
    <h1>Daftar</h1>
    <div class="fieldWrapper">
        <label>Nama Depan:</label><br>
        {{ form.first_name }}
    </div>    
    
    <div class="fieldWrapper">
        <label>Nama Belakang:</label><br>
        {{ form.last_name }}
    </div>    
    
    <div class="fieldWrapper">    
        {{ form.email.errors }}            
        <label>E-mail:</label><br>
        {{ form.email }}
    </div>    
    
    <div class="fieldWrapper">
    {{form.errors.values.0}}                
        <label>Username:</label><br>
        {{ form.username }}
    </div>
    
    <div class="fieldWrapper">        
        {{form.errors.values.1}}            
        <label>Password:</label><br>                    
        {{ form.password1 }}
    </div>
    
    <div class="fieldWrapper">           
        <label>Ulangi Password:</label><br>
        {{ form.password2 }}
    </div>            
    <br></br>
    <input type="submit" name="submit" class="btn btn-primary" value="Buat Akun">
</form>

{% endblock %}
