
<!DOCTYPE html>
<html>
    <head>
        <title>learning</title>
    </head>

    <body>
        {% if user.is_authenticated %}
	<h1>Selamat Datang.. {{ user.username }}!</h1>
	{% else %}
	<h1>Selamat Datang di Be-Py</h1>
	{% endif %}

        {% if categories %}
            <ul>
                {% for b in bab %}
    		<li><a href="{% url 'bab'  b.slug %}">{{ b.nama }}</a></li>
		{% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}


	{% if user.is_authenticated %}
	<a href="/learning/restricted/">Restricted Page</a><br />
	<a href="/accounts/logout/">Keluar</a><br />
	{% else %}
	<a href="/accounts/register/">Daftar Sekarang!</a><br />
	<a href="/accounts/login/">Masuk</a><br />
	{% endif %}
	<a href="/learning/about/">About</a><br/>
	<!--<a href="/learning/tambah_bab/">Add a New Category</a><br />-->

    </body>
</html>


