{% extends "learning/base.html" %}

{% load staticfiles %}


{% block title %} Be-Py | Beranda {% endblock %}
{% block body_block %}
    
        {% if user.is_authenticated %}
	<h1>Selamat Datang.. {{ user.username }}!</h1>
	{% else %}
	<h1>Selamat Datang di Be-Py</h1>
	{% endif %}


	{% if user.is_authenticated %}
	<br /><a href="/learning/bab/">Mulai Sekarang</a><br />
	<a href="/accounts/logout/">Keluar</a><br />
	{% else %}
	<a href="/accounts/register/">Daftar Sekarang!</a><br />
	<a href="/accounts/login/">Masuk</a><br />
	{% endif %}
	<a href="/learning/about/">About</a><br/>


{% endblock %}
