{% extends "learning/base.html" %}

{% load staticfiles %}
{% block head_block %}
		<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script> 
		<script src="{% static 'js/skulpt.min.js' %}" type="text/javascript"></script> 
		<script src="{% static 'js/skulpt-stdlib.js' %}" type="text/javascript"></script> 
        <title>SOAL</title>
 {% endblock %}


{% block body_block %}
<div class = "row">
  <div class = "col-lg-2">
	<h2>Navigasi</h2>
	<ol>
	{% for navigasi in nav.materi.all %}
		<li><a href="/learning/bab/{{ navigasi.materi.bab.slug }}/materi/{{ navigasi.materi.slug }}/{{ navigasi.id }}">{{navigasi.judul_soal}}</a></li>
	{% endfor %}
	</ol>
 </div>
  <div class = "col-lg-4" style="overflow-y:scroll; height:500px;">


        {% if soal %}
                {% with soal as s %}
                    <h2>{{ s.judul_soal }}</h2>
		<p> {{ s.deskripsi_soal|safe }}</p>
		<p> {{ s.instruksi|safe }}</p>
		<p> {{ s.hint|safe }}</p>
                {% endwith %}
        {% else %}
            <strong>Tidak ada materi yang tersedia.</strong>
        {% endif %}
        
        <script type="text/javascript"> 
// output functions are configurable.  This one just appends some text
// to a pre element.
function outf(text) { 
    var mypre = document.getElementById("output"); 
    mypre.innerHTML = mypre.innerHTML + text; 
} 
function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}
// Here's everything you need to run a python program in skulpt
// grab the code from your textarea
// get a reference to your pre element for output
// configure the output function
// call Sk.importMainWithBody()
function runit() { 
   var prog = document.getElementById("yourcode").value; 
   var mypre = document.getElementById("output"); 
   mypre.innerHTML = ''; 
   Sk.pre = "output";
   Sk.configure({output:outf, read:builtinRead}); 
   (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
   var myPromise = Sk.misceval.asyncToPromise(function() {
       return Sk.importMainWithBody("<stdin>", false, prog, true);
   });
   myPromise.then(function(mod) {
       console.log('success');
   },
       function(err) {
       console.log(err.toString());
   });
} 
function cleanit() { 
	document.getElementById("yourcode").value = "{{soal.isi_console|escapejs}}"; 
	document.getElementById("output").innerHTML=""; 
}
</script>
</div> 
<div class="col-lg-6" style="margin-bottom:100px;">
        <h3>Try This</h3> 
        
        <form> 
		<textarea id="yourcode" cols="67" rows="10">{{soal.isi_console}}</textarea><br /> 
				<button type="button" onclick="runit()">Periksa</button> 
				<button Type="button" onclick="cleanit()">Ulangi</button>
				</form> <br>
				<pre id="output" ></pre> 
				<!-- If you want turtle graphics include a canvas -->
				<div id="mycanvas"></div> 
		</form>
		
      </div>
</div>

{% endblock %}
